{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ assignment.id }}</a>
      </div>
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_assignment',course_id=assignment.course.id, assignment_id=assignment.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
<!--        if the assignment has the completion_date not NULL-->
        {% if assignment.completion_date  %}
        <a class="btn btn-warning btn-sm mt-1 mb-1" href="{{ url_for('incomplete_assignment',course_id=assignment.course.id, assignment_id=assignment.id) }}">Incomplete</a>
<!--        else the assignment is not completed yet-->
        {% else %}
        <a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('complete_assignment',course_id=assignment.course.id, assignment_id=assignment.id) }}">Complete</a>
        {% endif %}
      </div>
      <h2 class="article-title">{{ assignment.name }}</h2>
      <p class="article-content">deadline: {{ assignment.deadline }}</p>
      {% if assignment.completion_date %}
      <p class="article-content">completed: {{ assignment.completion_date }}</p>
      {% endif %}
    </div>

  </article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete course ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_assignment',course_id=assignment.course.id,assignment_id=assignment.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">

        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}