{% extends "layout.html" %}
{% block content %}

<div>
    <h4 class="info" >{{course.id}}</h4>
<!--    we loop through each study time in the course-->
  {% for study_time in course.study_times %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ study_time.id }}</a>
            </div>
            <h2><a class="article-title" href="{{ url_for('study_time', course_id=course.id, studytime_id=study_time.id) }}">{{ study_time.date }}</a></h2>
              <p class="article-content">{{ study_time.start_time }} - {{ study_time.end_time }}</p>
          </div>
        </article>
  {% endfor %}
</div>

{% endblock content %}